@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 18px 90px;
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px lightgreen;
}

.logo img {
  width: 190px;
}

.links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links ul li {
  float: left;
  margin-left: 30px;
}

.links ul li a {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.links ul li:first-child a {
  font-weight: 600;
  border-bottom: 3px solid lightgreen;
}

.hands img {
  width: 700px;
}

.body-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  padding: 90px 0px 0px 90px;
  background-color: whitesmoke;
}

.first h2 {
  font-size: 60px;
  font-weight: 700;
  color: darkblue;
}

.first p {
  font-size: 17px;
  padding-right: 90px;
  margin-top: 20px;
  color: darkblue;
}

.contact {
  background-color: #07c56e;
  color: white;
  width: 200px;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  margin-top: 25px;
}

.lincence {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-top: 60px;
}

.real-license {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.insure {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.li {
  font-size: 14px;
  font-weight: 700;
  color: darkblue;
}

.img img {
  width: 30px;
}
.im img {
  width: 45px;
  margin-top: 8px;
  margin-left: 10px;
}

.stroke {
  margin: 10px;
  color: darkblue;
  font-weight: 700;
}
.grid {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 60px;
}
.grid .first img {
  width: 500px;
}
.grid .first h5 {
  font-size: 23px;
  margin-top: 5px;
  color: darkblue;
}
.grid .first p {
  font-size: 17px;
  color: gray;
  margin: 10px 0px;
}

.sponsors-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sponsors-images img {
  width: 120px;
}

.sponsor {
  padding: 30px 80px;
}

.sponsor h2 {
  text-align: center;
  font-size: 45px;
  padding: 0px 160px;
  margin-bottom: 30px;
}
.sponsor span {
  color: #07c56e;
}

.name {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 200px;
  margin-bottom: 20px;
}

.box {
  width: 350px;
  background-color: whitesmoke;
  padding: 20px;
}

.box p {
  font-size: 12px;
}
.name h5 {
  font-size: 20px;
  color: darkblue;
}
.ikon {
  font-size: 40px;
  color: darkblue;
}

.testimony {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cont {
  padding: 0px 80px;
  text-align: center;
}
.content {
  font-size: 35px;
  color: darkblue;
  font-weight: 700;
  padding-bottom: 30px;
}

.contact-opay {
  background-color: #07c56e;
  width: 500px;
  margin: auto;
  padding: 15px;
  font-size: 25px;
  color: white;
  text-align: center;
  border-radius: 35px;
  margin-bottom: 100px;
  font-weight: 700;
}

.ikk {
  margin-right: 20px;
}

footer {
  background-color: rgb(4, 4, 90);
  padding: 80px 30px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 150px;
}

.footer-image img {
  width: 110px;
}

.content-flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 280px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.footer-flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 50px;
}

.content-flex h5 {
  color: white;
  font-size: 17px;
}

.foot-first p img {
  width: 20px;
}

.foot-first p {
  color: white;
  font-size: 12px;
  width: 90%;
  padding-top: 10px;
}

.foot-second a {
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
  margin-bottom: 10px;
}

.social {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.payment-main {
  background-color: whitesmoke;
}

.payment-main h2 {
  font-size: 55px;
  padding: 80px;
  text-align: center;
  font-weight: 700;
  color: darkblue;
}

.payment-main span {
  color: #07c56e;
}

.des {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  padding: 30px 80px;
  gap: 150px;
}

.des2 img {
  width: 500px;
}

.des1 {
  text-align: left;
  padding: 0;
  margin-top: 40px;
}
.des1 h4 {
  font-size: 45px;
  color: darkblue;
  margin: 0;
  padding: 0;
}
.des1 p {
  font-size: 20px;
  font-weight: 600;
  color: darkblue;
  padding-top: 16px;
  padding-bottom: 13px;
}

.des1 ul {
  margin: 0;
  padding: 0;
}
.des1 ul li {
  font-size: 20px;
  color: gray;
  padding-top: 10px;
}
.des1 ul li::marker {
  color: #07c56e;
  font-size: 30px;
}

.apply-pos {
  background-color: #07c56e;
  width: 200px;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  border-radius: 26px;
}

.google-image {
  margin-top: 30px;
}
.google-image img {
  width: 150px;
}

.image img {
  width: 350px;
  margin-left: 20px;
}

.pics-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.picture {
  padding: 80px 80px;
}
.picture h5 {
  font-size: 40px;
  text-align: center;
  color: darkblue;
  font-weight: 700;
  padding-bottom: 50px;
}

.image {
  position: relative;
}

.absolute {
  position: absolute;
  top: 400px;
  left: 30px;
}

.absolute h5 {
  text-align: left;
  color: white;
  margin: 0;
  padding-bottom: 30px;
}

.absolute p {
  color: white;
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.under {
  text-align: center;
}
.under p {
  font-size: 18px;
  color: gray;
  padding-bottom: 15px;
}

.under a {
  font-size: 25px;
  font-weight: 600;
  color: #07c56e;
  text-decoration: none;
}

.payment-footer {
  padding: 90px;
  background-color: whitesmoke;
  margin-top: 90px;
}
.payment-footer h5 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  color: darkblue;
  /* padding: 0px 250px; */
}

.payment-footer h5 span {
  color: #07c56e;
}
.payment-footer img {
  width: 1100px;
}

.box-1 img {
  width: 60px;
}

.box-1 {
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px lightgray;
  width: 250px;
  text-align: center;
  padding: 10px 20px;
}
.box-1 p {
  margin-top: 10px;
  color: gray;
}

.boxes {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.last p {
  text-align: center;
  color: gray;
  padding-bottom: 80px;
}

.hero {
  position: relative;
}
.hero img {
  width: 100%;
}
.innovative {
  position: absolute;
  top: 150px;
  padding: 0px 80px;
  text-align: center;
  color: white;
}
.innovative h5 {
  font-size: 45px;
  border-bottom: 1px solid white;
  padding-bottom: 40px;
  padding: 0px 100px;
}
.innovative h5 span {
  color: #07c56e;
}

.innovative p {
  font-size: 17px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.grid-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  /* gap: 25px; */
}
.gridy-img img {
  width: 350px;
}

.main-page {
  margin-top: 400px;
}

.item img {
  width: 70px;
  padding-bottom: 20px;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  margin: 400px 0px;
  gap: 0px;
}

.item h5 {
  font-size: 20px;
  color: darkblue;
  padding-bottom: 20px;
}
.item p {
  font-size: 15px;
  color: gray;
}
.item {
  width: 250px;
}
.about-us-img {
  position: relative;
}
.about-us-img img {
  width: 100%;
  background-color: #07c56e;
}

.absolute-content {
  position: absolute;
  top: 150px;
  padding: 30px 30px;
  margin-left: 40px;
}

.white-board {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  padding: 50px;
  gap: 6px;
  width: 95%;
}
.absolute-content h5 {
  font-size: 50px;
  color: darkblue;
  text-align: center;
}

.white-content {
  font-size: 20px;
  margin-top: 90px;
}
.white-content p {
  margin-top: 40px;
}

.opay-img img {
  width: 350px;
}

.company {
  background-color: whitesmoke;
  padding-top: 32%;
}

.company h5 {
  font-size: 40px;
  text-align: center;
  color: darkblue;
  font-weight: 700;
  margin-bottom: 50px;
}

.puzzle {
  padding: 30px 80px;
}
.puzzle-one {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.puzzle-content {
  width: 400px;
}

.puzzle-content h5 {
  text-align: left;
  margin-bottom: 20px;
}

.puzzle-content p {
  color: gray;
  font-size: 15px;
  text-align: left;
}
.puzzle-image img {
  width: 500px;
}
