@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
.nav {
  display: none;
}
.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 18px 90px;
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px lightgreen;
}
.navs .burger {
  display: none;
}
.logo img {
  width: 190px;
}

.links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links ul li {
  float: left;
  margin-left: 30px;
}

.links ul li a {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.links ul li:first-child a {
  font-weight: 600;
  border-bottom: 3px solid lightgreen;
}

.hands img {
  width: 700px;
}

.body-flex {
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  padding: 90px 0px 0px 90px;
  background-color: whitesmoke;
}

.first h2 {
  font-size: 60px;
  font-weight: 700;
  color: darkblue;
}

.first p {
  font-size: 17px;
  padding-right: 90px;
  margin-top: 20px;
  color: darkblue;
}

.contact {
  background-color: #07c56e;
  color: white;
  width: 200px;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  margin-top: 25px;
}

.lincence {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-top: 60px;
}

.real-license {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.insure {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.li {
  font-size: 14px;
  font-weight: 700;
  color: darkblue;
}

.img img {
  width: 30px;
}
.im img {
  width: 45px;
  margin-top: 8px;
  margin-left: 10px;
}

.stroke {
  margin: 10px;
  color: darkblue;
  font-weight: 700;
}
.grid {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 60px;
}
.grid .first img {
  width: 500px;
}
.grid .first h5 {
  font-size: 23px;
  margin-top: 5px;
  color: darkblue;
}
.grid .first p {
  font-size: 17px;
  color: gray;
  margin: 10px 0px;
}

.sponsors-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sponsors-images img {
  width: 120px;
}

.sponsor {
  padding: 30px 80px;
}

.sponsor h2 {
  text-align: center;
  font-size: 45px;
  padding: 0px 160px;
  margin-bottom: 30px;
}
.sponsor span {
  color: #07c56e;
}

.name {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 200px;
  margin-bottom: 20px;
}

.box {
  width: 350px;
  background-color: whitesmoke;
  padding: 20px;
}

.box p {
  font-size: 12px;
}
.name h5 {
  font-size: 20px;
  color: darkblue;
}
.ikon {
  font-size: 40px;
  color: darkblue;
}

.testimony {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cont {
  padding: 0px 80px;
  text-align: center;
}
.content {
  font-size: 35px;
  color: darkblue;
  font-weight: 700;
  padding-bottom: 30px;
}

.contact-opay {
  background-color: #07c56e;
  width: 500px;
  margin: auto;
  padding: 15px;
  font-size: 25px;
  color: white;
  text-align: center;
  border-radius: 35px;
  margin-bottom: 100px;
  font-weight: 700;
}

.ikk {
  margin-right: 20px;
}

footer {
  background-color: rgb(4, 4, 90);
  padding: 80px 30px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  gap: 150px;
}

.footer-image img {
  width: 110px;
}

.content-flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 280px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.footer-flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 50px;
}

.content-flex h5 {
  color: white;
  font-size: 17px;
}

.foot-first p img {
  width: 20px;
}

.foot-first p {
  color: white;
  font-size: 12px;
  width: 90%;
  padding-top: 10px;
}

.foot-second a {
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
  margin-bottom: 10px;
}

.social {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.payment-main {
  background-color: whitesmoke;
}

.payment-main h2 {
  font-size: 55px;
  padding: 80px;
  text-align: center;
  font-weight: 700;
  color: darkblue;
}

.payment-main span {
  color: #07c56e;
}

.des {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  padding: 30px 80px;
  gap: 150px;
}

.des2 img {
  width: 500px;
}

.des1 {
  text-align: left;
  padding: 0;
  margin-top: 40px;
}
.des1 h4 {
  font-size: 45px;
  color: darkblue;
  margin: 0;
  padding: 0;
}
.des1 p {
  font-size: 20px;
  font-weight: 600;
  color: darkblue;
  padding-top: 16px;
  padding-bottom: 13px;
}

.des1 ul {
  margin: 0;
  padding: 0;
}
.des1 ul li {
  font-size: 20px;
  color: gray;
  padding-top: 10px;
}
.des1 ul li::marker {
  color: #07c56e;
  font-size: 30px;
}

.apply-pos {
  background-color: #07c56e;
  width: 200px;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  border-radius: 26px;
}

.google-image {
  margin-top: 30px;
}
.google-image img {
  width: 150px;
}

.image img {
  width: 350px;
  margin-left: 20px;
}

.pics-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.picture {
  padding: 80px 80px;
}
.picture h5 {
  font-size: 40px;
  text-align: center;
  color: darkblue;
  font-weight: 700;
  padding-bottom: 50px;
}

.image {
  position: relative;
}

.absolute {
  position: absolute;
  top: 400px;
  left: 30px;
}

.absolute h5 {
  text-align: left;
  color: white;
  margin: 0;
  padding-bottom: 30px;
}

.absolute p {
  color: white;
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.under {
  text-align: center;
}
.under p {
  font-size: 18px;
  color: gray;
  padding-bottom: 15px;
}

.under a {
  font-size: 25px;
  font-weight: 600;
  color: #07c56e;
  text-decoration: none;
}

.payment-footer {
  padding: 90px;
  background-color: whitesmoke;
  margin-top: 90px;
}
.payment-footer h5 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  color: darkblue;
  /* padding: 0px 250px; */
}

.payment-footer h5 span {
  color: #07c56e;
}
.payment-footer img {
  width: 1100px;
}

.box-1 img {
  width: 60px;
}

.box-1 {
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px lightgray;
  width: 250px;
  text-align: center;
  padding: 10px 20px;
}
.box-1 p {
  margin-top: 10px;
  color: gray;
}

.boxes {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.last p {
  text-align: center;
  color: gray;
  padding-bottom: 80px;
}

.hero {
  position: relative;
}
.reel {
  width: 100%;
}
.innovative {
  position: absolute;
  top: 150px;
  padding: 0px 80px;
  text-align: center;
  color: white;
}
.innovative h5 {
  font-size: 45px;
  border-bottom: 1px solid white;
  padding-bottom: 40px;
  padding: 0px 100px;
}
.innovative h5 span {
  color: #07c56e;
}

.innovative p {
  font-size: 17px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.grid-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  /* gap: 25px; */
}
.gridy-img img {
  width: 350px;
}

.main-page {
  margin-top: 400px;
}

.item img {
  width: 70px;
  padding-bottom: 20px;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  margin: 400px 0px;
  gap: 0px;
}

.item h5 {
  font-size: 20px;
  color: darkblue;
  padding-bottom: 20px;
}
.item p {
  font-size: 15px;
  color: gray;
}
.item {
  width: 250px;
}
.about-us-img {
  position: relative;
}
.about-us-img img {
  width: 100%;
  background-color: #07c56e;
}

.absolute-content {
  position: absolute;
  top: 150px;
  padding: 30px 30px;
  margin-left: 40px;
}

.white-board {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  padding: 50px;
  gap: 6px;
  width: 95%;
}
.absolute-content h5 {
  font-size: 50px;
  color: darkblue;
  text-align: center;
}

.white-content {
  /* font-size: 20px; */
  margin-top: 90px;
}
.white-content .pp p {
  margin-top: 40px;
  font-size: 20px;
}

.opay-img img {
  width: 350px;
}

.company {
  background-color: whitesmoke;
  padding-top: 32%;
}

.company h5 {
  font-size: 40px;
  text-align: center;
  color: darkblue;
  font-weight: 700;
  margin-bottom: 50px;
}

.puzzle {
  padding: 30px 80px;
}
.puzzle-one {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.puzzle-content {
  width: 400px;
}

.puzzle-image2 {
  display: none;
}
.puzzle-content h5 {
  text-align: left;
  margin-bottom: 20px;
}

.puzzle-content p {
  color: gray;
  font-size: 15px;
  text-align: left;
}
.puzzle-image img {
  width: 500px;
}

.hand {
  display: none;
}
.lincences {
  display: none;
}
.hide-img {
  display: none;
}

.des3 {
  display: none;
}

.meat {
  margin-left: 250px;
  margin-top: 70px;
}
.opay2-img {
  display: none;
}

@media (max-width: 480px) {
  .padding {
    padding: 10px;
    overflow: hidden;
    max-width: 100%;
  }
  .pay {
    padding: 10px;
    overflow: hidden;
    max-width: 100%;
  }
  .padd {
    overflow: hidden;
    max-width: 100%;
    padding: 10px;
  }
  .navs {
    display: none;
  }
  .nav {
    max-width: 100%;
    position: relative;
    justify-content: flex-start;
    padding: 25px 10px;
    gap: 170px;
    width: 100%;
    display: flex;
    visibility: visible;
  }

  .nav .burger {
    display: block;
  }

  .close img {
    width: 20px;
  }
  .logos img {
    width: 144px;
  }

  .nav .link ul {
    position: absolute;
    top: 55px;
    left: 0;
    background-color: green;
    width: 100%;
    padding: 8px 30px 50px 13px;
    color: white;
    padding: 20px 20px 50px 20px;
    margin: 0;
    list-style: none;
    z-index: 5;

    /* display: none; */
  }
  .nav .link ul li {
    float: none;
    margin-left: 0px;
    margin-top: 20px;
  }
  .nav .link ul li a {
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  .hand {
    display: block;
  }
  .hand img {
    width: 421px;
    max-width: 100%;
  }
  .hands {
    display: none;
  }
  .body-flex {
    padding: 20px 20px;
    flex-direction: column;
  }
  .first {
    padding: 0px 0px 0px 0px;
    max-width: 100%;
  }
  .first h2 {
    font-size: 33px;
  }
  .first p {
    font-size: 19px;
    padding-right: 0px;
  }
  .contact {
    width: 221px;
    padding: 20px 0px;
    font-size: 21px;
    margin-top: 7px;
    font-weight: 600;
    border-radius: 30px;
  }
  .real-license {
    margin-top: 20px;
  }

  .lincence {
    display: none;
  }

  .lincences {
    display: block;
  }
  .lincences .real-license .li {
    font-size: 10px;
    font-weight: 400;
  }
  .img img {
    width: 16px;
  }
  .insure {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
  }
  .insure .li {
    font-size: 11px;
    font-weight: 400;
    color: darkblue;
  }
  .im img {
    width: 27px;
    margin-top: 0px;
    margin-left: 4px;
  }
  .grid {
    padding: 37px 0px;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .grid .first {
    padding-bottom: 60px;
  }
  .grid .first img {
    width: 442px;
  }
  .grid .first h5 {
    font-size: 21px;
    margin-top: 5px;
    padding: 0px 0px 0px 50px;
  }
  .grid .first p {
    font-size: 15px;
    margin: 8px 0px;
    padding: 0px 0px 0px 50px;
  }
  .sponsor {
    padding: 32px 0px;
  }
  .sponsor h2 {
    font-size: 26px;
    padding: 30px 1px;
  }
  .sponsors-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    gap: 14px;
    width: 100%;
    padding: 0px 16px;
  }
  .sponsors-images img {
    width: 100px;
  }
  .testimony {
    padding: 50px 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
    width: 100%;
  }
  .name {
    gap: 276px;
  }
  .box {
    width: 380px;
    /* margin-bottom: 15px; */
    padding: 10px 25px;
    margin: 0px 15px 25px 15px;
  }
  .name h5 {
    font-size: 20px;
    font-weight: 500;
  }
  .ikon {
    font-size: 20px;
  }
  .box p {
    font-size: 15px;
  }
  .cont {
    padding: 41px;
    text-align: center;
  }
  .contact-opay {
    width: 311px;
    padding: 22px;
    font-size: 20px;
    margin-left: 10px;
    max-width: 100%;
    text-align: center;
    margin: auto;
  }
  .content {
    font-size: 28px;
  }
  footer {
    padding: 35px 35px;
    gap: 0px;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .hide-img img {
    width: 140px;
  }
  .content-flex {
    display: none;
  }
  .hide-img {
    display: block;
  }
  .footer-image .bb {
    display: none;
  }
  .footer-flex {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    gap: 0px;
    flex-direction: column;
  }
  .foot-first p {
    font-size: 15px;
    width: 100%;
    padding-top: 36px;
  }
  .foot-first p img {
    width: 22px;
  }
  .foot-second a {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .social {
    font-size: 24px;
  }

  .payment-main h2 {
    font-size: 42px;
    padding: 28px 25px;
    text-align: left;
    font-weight: 700;
  }
  .hr {
    display: none;
  }

  .des3 {
    display: block;
    padding-top: 30px;
  }
  .des2 {
    display: none;
  }
  .des3 img {
    width: 348px;
    margin: auto;
    max-width: 100%;
    padding-top: 65px;
  }
  .des {
    padding: 30px 30px;
    gap: 0px;
    flex-direction: column;
  }
  .des1 h4 {
    font-size: 25px;
  }
  .des1 p {
    font-size: 15px;
  }
  .des1 ul li {
    font-size: 18px;
  }
  .apply-pos {
    background-color: #07c56e;
    width: 317px;
    font-size: 20px;
    padding: 13px;
  }
  .picture {
    padding: 100px 0px;
  }
  .picture h5 {
    font-size: 20px;
  }
  .pics-flex {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 100%;
  }
  /* .image img {
    width: 350px;
    margin: 0px 10px;
    max-width: 100%;
  } */
  .image img {
    width: 380px;
    margin: 20px 0px;
    max-width: 100%;
  }
  .absolute p {
    font-size: 18px;
  }
  .absolute h5 {
    font-size: 25px;
  }
  .under {
    text-align: center;
    margin-top: 30px;
  }
  .under p {
    font-size: 18px;
  }
  .under a {
    font-size: 25px;
    text-align: center;
  }
  .payment-footer {
    padding: 40px 0px 0px 0px;
  }

  .payment-footer img {
    width: 375px;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 100%;
  }
  .box-1 img {
    width: 50px;
  }
  .box-1 p {
    margin-top: 9px;
    font-size: 12px;
  }
  .box-1 {
    width: 180px;
    padding: 11px 15px;
  }
  .last p {
    text-align: left;
    font-size: 18px;
  }
  .payment-footer h5 {
    font-size: 25px;
    padding: 0px 0px;
    text-align: center;
  }

  .oops {
    margin: auto;
    margin-bottom: 20px;
  }
  .reel {
    max-width: 100%;
    height: 376px;
  }

  .innovative {
    top: 35px;
    padding: 0px 10px;
    text-align: left;
  }

  .innovative h5 {
    font-size: 35px;
    padding: 0px 0px;
  }
  .innovative p {
    font-size: 16px;
  }
  .grid-image {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 0px;
  }
  /* .gridy-img img {
    width: 200px;
  } */
  .gridy-img img {
    width: 170px;
  }
  .main-page {
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 373px 0px 0px 0px;
    gap: 0px;
    max-width: 100%;
    padding-left: 30px;
  }
  .item {
    width: auto;
    margin-bottom: 49px;
  }
  .item img {
    width: 66px;
    padding-bottom: 20px;
  }
  .item p {
    font-size: 16px;
    padding-right: 92px;
  }
  .item h5 {
    font-size: 26px;
    padding-bottom: 20px;
  }
  .meat {
    width: 313px;
    padding: 19px;
    font-size: 20px;
    margin: auto;
    margin-left: 0px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .absolute-content {
    top: 30px;
    padding: 10px 0px;
    /* margin-left: 8px; */
    margin: auto;
  }
  .absolute-content h5 {
    font-size: 25px;
  }
  .white-board {
    flex-direction: column;
    padding: 0px;
    gap: 0px;
    width: 100%;
    background: none;
    max-width: 100%;
  }

  .white-content {
    font-size: 20px;
    margin-top: 14px;
  }
  .opay-img {
    display: none;
  }
  .opay2-img {
    display: block;
    padding: 0px 30px;
    max-width: 100%;
  }
  .opay2-img img {
    width: 386px;
    height: 262px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
  }
  .company {
    background-color: whitesmoke;
    padding-top: 1000px;
  }
  .puzzle {
    padding: 0px 0px;
  }
  .puzzle-one {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
  }
  .puzzle-content p {
    font-size: 17px;
    margin-bottom: 50px;
    padding: 0px 30px;
  }
  .puzzle-content h5 {
    font-size: 20px;
    padding: 0px 30px;
  }
  .puzzle-image {
    display: none;
  }
  .puzzle-image2 {
    display: block;
  }
  .puzzle-image2 img {
    width: 400px;
    max-width: 100%;
    margin: auto;
  }

  .white-content .pp {
    margin-top: 0px;
    background-color: white;
    margin-top: -121px;
    padding-top: 208px;
    max-width: 100%;
  }
  .white-content .pp p {
    margin-top: 0px;
    font-size: 15px;
    line-height: 25px;
    padding: 28px 25px;
  }

  .company h5 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 14px;
  }
  .display {
    display: none;
  }
  .about-us-img img {
    width: 100%;
    background-color: #07c56e;
    max-width: 100%;
  }
}
